body {
    /* background: rgb(253, 253, 253); */
    background-image: url('../images/PrefWall.jpg');
    background-repeat: no-repeat;
    /* min-height: 100%; */
    background-size: cover;
    opacity: 1.0;
}

#pokeFacts {
    /* color: #FFCB05; */
    color: #3D7DCA;
    font-family: 'Acme', sans-serif;
}

#userSelection {
    color: #3D7DCA;
    font-size: 40px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(235, 241, 248);
    border: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 0px 25px rgba(255, 255, 255, 0.3);
}

.pokemon-banner {
    width: 65%;
    height: auto;
}

.pokemon-hint {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

div {
    font-family: 'Acme', sans-serif;
}

#welcomeMsg {
    font-size: 40px;
    /* color: #FFCB05; */
}

p {
    padding: 7px;
    color: #003A70;
}

#wins {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
}

#newGame {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
    color: #003A70;
}

#losses {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
}